<!--Seperate View for About Page-->
<!-- Kazi Ayesha Akhter
      301264645
      29/09/2023 -->

<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

 <!-- Main Content -->
 <main class="container"style = "min-height: 50rem">
  <div class="jumbotron bg-transparent">
    <h1 class="display-4 text-center border border-dark p-5">Welcome to my <%= title %> page</h1>
  </div>

  <!-- My About Page -->
  <div class="row">
    <div class = "col-sm-8">
      <div class=" about">
    <p> Hi,  I am Kazi Ayesha Akhter, a resilient individual who embarked on a transformative 
        journey from Bangladesh to Canada in 2015, accompanied by my husband and daughter.
        My academic foundation was laid in electronics and telecommunication engineering back in my homeland.
    </p>
    <p> Currently, I find myself immersed in the fourth semester of my software engineering technician diploma,
        passionately embracing this new career direction. Beyond the academic realm,
        I find true joy in the loving embrace of my family, cherishing every precious moment we share. 
        A food enthusiast at heart, I delight in exploring diverse cuisines and express my creativity through
        baking.
    </p>
    <p> The world of literature and the art of DIY projects also hold a special place in my heart, 
        allowing me to delve into newfound knowledge and engage in hands-on creativity. With an adventurous
        spirit and an insatiable hunger for growth, I eagerly anticipate the exciting path ahead, combining 
        my love for technology with the richness of my passions and life experiences.
    </p>
    <p>
        Feel free to review my <a href="./Assets/images/Resume.pdf" target="_blank" class="resume"> resume</a> at your convenience. 
    </p>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="image">
      <img src="/img/image.jpeg" alt="image" style: width="300px"; height="400px">
      </div>
    </div>
  </div>
</main>




<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>