<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>
  

  <!-- Main Content -->
  <main class="container">
 
    <div class="jumbotron">
      <h1 class="display-4">Welcome to my <%= title %> page</h1>
    </div>
    <div class="intro">
      <h2>Hi, I'm Kazi.</h2>
      <p>
        Thank you for visiting! I'm thrilled to showcase my journey, projects, and services. 
        Dive in and explore my work, skills, and aspirations.</p>
      <a href="/about" class="btn"><h5>About Me</h5></a>
      </div>
    
    <div class="mission">
        <h2>Mission Statement</h2>
        <p><i>
          My mission is to innovate and create meaningful experiences. 
          Through dedication and continuous learning, I aim to provide valuable 
          solutions in every project and service I undertake, striving for excellence.</i>
        </p>
      </div>

  </main>
  
<%- include partials/bottom_nav.ejs %>  

<%- include partials/footer.ejs %>
  




